[submodule "src/detection_ros_pkgs/yolo_ros"]
	path = src/detection_ros_pkgs/yolo_ros
	url = https://github.com/mgonzs13/yolo_ros
[submodule "src/planning_ros_pkgs/SPINE"]
	path = src/planning_ros_pkgs/SPINE
	url = https://github.com/saminmoosavi/SPINE.git
	branch = ros2-humble
